List3- jaxws/src/main/resources/movieservice.wsdl

<definitions
        targetNamespace="http://example.org/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://example.org/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        name="MovieService">
    <types>
        <xs:schema xmlns:tns="http://example.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://example.org/">
            <xs:element name="MovieExistsEx" type="tns:MovieExistsEx"/>
            <xs:element name="MovieNotFoundEx" type="tns:MovieNotFoundEx"/>
            <xs:element name="addMovie" type="tns:addMovie"/>
            <xs:element name="addMovieResponse" type="tns:addMovieResponse"/>
            <xs:element name="countMovie" type="tns:countMovie"/>
            <xs:element name="countMovieResponse" type="tns:countMovieResponse"/>
            <xs:element name="deleteMovie" type="tns:deleteMovie"/>
            <xs:element name="deleteMovieResponse" type="tns:deleteMovieResponse"/>
            <xs:element name="getAllMovies" type="tns:getAllMovies"/>
            <xs:element name="getAllMoviesResponse" type="tns:getAllMoviesResponse"/>
            <xs:element name="getMovie" type="tns:getMovie"/>
            <xs:element name="getMovieResponse" type="tns:getMovieResponse"/>
            <xs:element name="updateMovie" type="tns:updateMovie"/>
            <xs:element name="updateMovieResponse" type="tns:updateMovieResponse"/>
            <xs:complexType name="countMovie">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="countMovieResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getMovie">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getMovieResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:movie" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="movie">
                <xs:sequence>
                    <xs:element name="genre" type="tns:genre" minOccurs="0"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="rating" type="xs:double"/>
                    <xs:element name="inCinema" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MovieNotFoundEx">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllMovies">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllMoviesResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:movie" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addMovie">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg2" type="xs:boolean"/>
                    <xs:element name="arg3" type="xs:double"/>
                    <xs:element name="arg4" type="tns:genre" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addMovieResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:movie" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MovieExistsEx">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteMovie">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteMovieResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateMovie">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg2" type="xs:boolean"/>
                    <xs:element name="arg3" type="xs:double"/>
                    <xs:element name="arg4" type="tns:genre" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateMovieResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:movie" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="genre">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Horror"/>
                    <xs:enumeration value="Fantasy"/>
                    <xs:enumeration value="Romance"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </types>
    <message name="getMovie">
        <part name="parameters" element="tns:getMovie"/>
    </message>
    <message name="getMovieResponse">
        <part name="parameters" element="tns:getMovieResponse"/>
    </message>
    <message name="MovieNotFoundEx">
        <part name="fault" element="tns:MovieNotFoundEx"/>
    </message>
    <message name="addMovie">
        <part name="parameters" element="tns:addMovie"/>
    </message>
    <message name="addMovieResponse">
        <part name="parameters" element="tns:addMovieResponse"/>
    </message>
    <message name="MovieExistsEx">
        <part name="fault" element="tns:MovieExistsEx"/>
    </message>
    <message name="countMovie">
        <part name="parameters" element="tns:countMovie"/>
    </message>
    <message name="countMovieResponse">
        <part name="parameters" element="tns:countMovieResponse"/>
    </message>
    <message name="getAllMovies">
        <part name="parameters" element="tns:getAllMovies"/>
    </message>
    <message name="getAllMoviesResponse">
        <part name="parameters" element="tns:getAllMoviesResponse"/>
    </message>
    <message name="deleteMovie">
        <part name="parameters" element="tns:deleteMovie"/>
    </message>
    <message name="deleteMovieResponse">
        <part name="parameters" element="tns:deleteMovieResponse"/>
    </message>
    <message name="updateMovie">
        <part name="parameters" element="tns:updateMovie"/>
    </message>
    <message name="updateMovieResponse">
        <part name="parameters" element="tns:updateMovieResponse"/>
    </message>
    <portType name="MovieService">
        <operation name="getMovie">
            <input message="tns:getMovie"/>
            <output  message="tns:getMovieResponse"/>
            <fault message="tns:MovieNotFoundEx" name="MovieNotFoundEx"/>
        </operation>
        <operation name="addMovie">
            <input message="tns:addMovie"/>
            <output  message="tns:addMovieResponse"/>
            <fault message="tns:MovieExistsEx" name="MovieExistsEx"/>
        </operation>
        <operation name="countMovie">
            <input message="tns:countMovie"/>
            <output message="tns:countMovieResponse"/>
        </operation>
        <operation name="getAllMovies">
            <input  message="tns:getAllMovies"/>
            <output message="tns:getAllMoviesResponse"/>
        </operation>
        <operation name="deleteMovie">
            <input message="tns:deleteMovie"/>
            <output message="tns:deleteMovieResponse"/>
            <fault message="tns:MovieNotFoundEx" name="MovieNotFoundEx"/>
        </operation>
        <operation name="updateMovie">
            <input  message="tns:updateMovie"/>
            <output  message="tns:updateMovieResponse"/>
            <fault message="tns:MovieNotFoundEx" name="MovieNotFoundEx"/>
        </operation>
    </portType>
    <binding name="MovieServiceImplPortBinding" type="tns:MovieService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovieNotFoundEx">
                <soap:fault name="MovieNotFoundEx" use="literal"/>
            </fault>
        </operation>
        <operation name="addMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovieExistsEx">
                <soap:fault name="MovieExistsEx" use="literal"/>
            </fault>
        </operation>
        <operation name="countMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllMovies">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovieNotFoundEx">
                <soap:fault name="MovieNotFoundEx" use="literal"/>
            </fault>
        </operation>
        <operation name="updateMovie">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MovieNotFoundEx">
                <soap:fault name="MovieNotFoundEx" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MovieService">
        <port name="MovieServiceImplPort" binding="tns:MovieServiceImplPortBinding">
            <soap:address location="http://localhost:8081/movieservice"/>
        </port>
    </service>
</definitions>